
<h1 style="margin-bottom: 2%; margin-left: 2%;">{{entity.name}}</h1>
<div class="divForGrid" style="background: #404040;">
    <button type="button" ng-click="add()" class="btn-sm btn-success" style="background:#000066;margin-left: 2%; margin-top: 2%;border-radius:0; border: none;">Add Group</button>
    <button type="button" ng-click="edit()" class="btn-sm btn-primary" style="background:#000099;margin-top: 2%; border-radius:0; border: none;">Edit Group</button>
    <button type="button" ng-click="delete()" class="btn-sm btn-danger" style="background:#3366cc;margin-top: 2%;border-radius:0; border: none;">Delete Group</button>
    <div ui-grid="gridOptions" ui-grid-selection class="grid" style="margin-top: 2%;"></div>
</div>
