<h1>All groups</h1>
<div class="divForGrid">
    <button type="button" ng-click="add()" class="btn-sm btn-success">Add Group</button>
    <button type="button" ng-click="edit()" class="btn-sm btn-primary">Edit Group</button>
    <button type="button" ng-click="delete()" class="btn-sm btn-danger">Delete Group</button>
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</div>
